


.scrollme {
  overflow-x: auto;
  width: 90%;
  display: flex;
}
/*
----------------------------------------
SIDEBAR
----------------------------------------
*/

.span_dropdown{
  color: rgb(49, 47, 47);
  cursor: pointer;
}
.dropdown-content {
  display: none;
  cursor: pointer;
}

.dropdown-content.show {
  display: block;
}

.wrapper {
    display: flex;
    width: 100%;
    padding: 0;
  }
  
  #sidebar {
    min-width: 250px;
    background: #f1f1f1;
    padding: 30px;
    color: #101010;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    overflow-y: auto; /* Agrega un desplazamiento vertical */
    height: 100vh;
  }

  /* #nav {
    height: 20vh ;
  } */
  
  #sidebar.active {
    margin-left: -280px;
  }
  
  #content {
    /*flex: 1;*/
    padding: 20px;
    width: 100%;
  }
  
  #sidebarCollapse:hover {
    cursor: pointer;
  }
  
  #sidebar li a{
    text-decoration: none;
    color: rgb(49, 47, 47);
  }

  #sidebar li{
    margin-top: 5%;
  }

  .forms{
    background-color: #f6f6f7;
  }
  .table-container {
    max-width: 100%;
    overflow-x: auto;
  }
  .trabajos {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
  }
  .trabajo{
    width: 300px;
    background-color: #eeeeee;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
  }

@media (min-width: 650px) {
  #login{
    width: 500px;
  }
}

